body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Lora", serif;
  /* font-size: 5em; */
  font-size: 6vmin;
  font-weight: 900;
}

input {
  background-color: white;
  color: black;
  margin: 0.3em;
  border: 100px;
  border-color: grey;
  padding: 1em;
  border-radius: 3px;
}

/* input:hover {
  background-color: #9e2250; } */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

#categories {
  background-color: rgb(207, 205, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 80vw;
  margin: auto;
  flex-flow: wrap;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5em;
}

main blockquote {
  position: relative;

  /* max-width: 80%; */
  /* added */
  width: 80%;
  margin-left: 9vw;
  color: white;

  padding: 1.5em 3em 1.4em 3em;
  text-align: center;
  font-size: 2em;
  background-color: #0c98ff;
}

/* main blockquote::before {
  content: "\201C";
  font-family: arial;
  position: absolute;
  top: -4px;
  left: 32px;
  font-size: 5em;
  color: #e03939; } */

#result {
  /* max-width: 100%; */
  width: 100%;
}

@media screen and (max-width: 800px) {
  h1 {
    /* font-size: 4em; */
    font-size: 6vmin;
  }
  header {
    margin-bottom: 1em;
  }
  main {
    margin: 1em;
  }
  main blockquote {
    max-width: 80%;
    padding: 0.75em 1.5em 0.7em 1.5em;
    font-size: 1em;
  }
}
/* main blockquote::before {
    content: "\201C";
    font-family: arial;
    position: absolute;
    top: -2px;
    left: 16px;
    font-size: 2.5em;
    color: #e03939; } */


/* main blockquote::before {
    content: "\201C";
    font-family: arial;
    position: absolute;
    top: -2px;
    left: 16px;
    font-size: 2.5em;
    color: #e03939; } 
*/


/* added */
* {
  box-sizing: border-box;
}
#categories{
  width: 70%;
}
#New-Joke{
  color: blue;
}
#New-Joke:focus{
  color: black;
}
input:focus{
  background-color: blue;
  color: black;
  outline: 0px;
}
#categories>input{
  width: 78px;
}
#btn>hr{
  height: 5px;
  background-color: black;
}

/* @media screen and (max-width: 475px) { */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
    header {
      margin-bottom: 1em;
    }
    main {
      /* margin: 1em; */
      margin-left: 0;
    }
    main blockquote {
  
      /* max-width: 80%; */
      max-width: 100%;
      width: 100vw;
  
      /* padding: 0.75em 1.5em 0.7em 1.5em; */
      padding: 4em 1.5em 4em 1.5em;
  
      font-size: 1em;
    }
  
    /* added */
    main{
      width: 100vw;
    }
    #categories{
      max-width: 100vw;
      width: 100vw;
    }
    main blockquote{
      margin-left: 0vw;
    }
    #categories input{
      margin-bottom: 4vh;
    }
    
  }
